## **TODO:** Set the value of `URL` to the URL from your learning materials

In [13]:
# URL = "https://drive.google.com/file/d/1ublxmIEiFoWcc7gUS66eyFC4tJKON5GG/view?usp=sharing"
# import os
# assert URL and (type(URL) is str), "Be sure to initialize URL using the value from your learning materials"
# os.environ['URL'] = URL

In [23]:
# %%bash
# #wget -q $URL -O ./data.zip

# mkdir -p data
# find *.zip | xargs unzip -o -d data/

Archive:  data.zip

  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of data.zip or
        data.zip.zip, and cannot find data.zip.ZIP, period.

1- Download the data from the following link (google drive)

2- unzip

3- upload to colab

https://drive.google.com/file/d/1ublxmIEiFoWcc7gUS66eyFC4tJKON5GG/view?usp=sharing

## Use PyTorch `Dataset` and `Dataloader` with a structured dataset

In [28]:
import os

import pandas as pd
import torch as pt

from torch import nn
from torch.utils.data import DataLoader
from torch.utils.data import TensorDataset

pt.set_default_dtype(pt.float64)

Read the files that match `part-*.csv` from the `data` subdirectory into a Pandas data frame named `df`.

In [29]:
from pathlib import Path

df = pd.concat(
    pd.read_csv(file) for file in Path('').glob('part-*.csv')
)

## Explore the `df` data frame, including the column names, the first few rows of the dataset, and the data frame's memory usage.

In [30]:
df

        fareamount  ...                                                 id
0             4.60  ...                                                NaN
1             7.30  ...                                                NaN
2             5.14  ...                                                NaN
3            11.67  ...                                                NaN
4            10.27  ...                                                NaN
...            ...  ...                                                ...
451328        9.46  ...  4d902382bd35612a059f0f3e948b95f3801aaf1c1f9afc...
451329        6.76  ...  7da0190a2d987227dd1b12ab476a2ca7c5bfb385681376...
451330       11.89  ...  864a759a095193883bc9f48f2c168b009927a51873d154...
451331        8.11  ...  1a4dff913ed8bca66af48ad506d901c2acd6b63d7de243...
451332        7.39  ...  1519c9613457360e8c0e8b875c4f1e33b81b74357668bb...

[1832681 rows x 7 columns]

## Drop the `origindatetime_tr` column from the data frame. 

For now you are going to predict the taxi fare just based on the lat/lon coordinates of the pickup and the drop off locations. Remove the `origindatetime_tr` column from the data frame in your working dataset.

## Sample 10% of your working dataset into a test dataset data frame

* **hint:** use the Pandas `sample` function with the dataframe. Specify a value for the `random_state` to achieve reproducibility.

## Drop the rows that exist in your test dataset from the working dataset to produce a training dataset.

* **hint** DataFrame's `drop` function can use index values from a data frame to drop specific rows.

## Define 2 Python lists: 1st for the feature column names; 2nd for the target column name

## Create `X` and `y` tensors with the values of your feature and target columns in the training dataset

## Create a `TensorDataset` instance with the `y` and `X` tensors (in that order)

## Create a `DataLoader` instance specifying a custom batch size

A batch size of `2 ** 18 = 262,144` should work well.

## Create a model using `nn.Linear`

## Declare your `forward`, `loss` and `metric` functions

* **hint:** if you are tired of computing MSE by hand you can use `nn.functional.mse_loss` instead.

## Iterate over the batches returned by your `DataLoader` instance

For every step of gradient descent, print out the MSE, RMSE, and the batch index
* **hint:** you can use Python's `enumerable` for an iterable
* **hint:** the batch returned by the `enumerable` has the same contents as your `TensorDataset` instance

## Implement 10 epochs of gradient descent training

For every step of gradient descent, printout the MSE, RMSE, epoch index, and batch index.

* **hint:** you can call `enumerate(DataLoader)` repeatedly in a `for` loop

Copyright 2020 CounterFactual.AI LLC. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.